<div class="header">
  <h3 class="text-muted">Jquery plugin injection</h3>
</div>

<div class="jumbotron">
	<perfect-scrollbar class="scroller" wheel-propagation="true" wheel-speed="25">
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi porta ipsum a augue mollis sagittis.
			Proin non consequat
			magna. Sed auctor quam a nibh pulvinar pretium a ut mi. Maecenas luctus laoreet tellus in bibendum. Sed a dictum neque. Proin
			scelerisque lectus quis augue blandit, a venenatis augue sagittis. Vestibulum vehicula orci augue, vitae fringilla lorem vulputate
			sit amet. Curabitur risus erat, cursus at turpis in, interdum tincidunt quam. Vestibulum nunc ipsum, viverra at ipsum eu, volutpat
			fermentum leo. Pellentesque elementum eget tortor et porta. Aenean id ante bibendum, hendrerit velit quis, gravida magna. Etiam sed
			velit eu nibh cursus lobortis sed eu nisi. Fusce justo elit, tempus tempus ligula vitae, molestie mattis ipsum.

			Sed laoreet, leo sodales commodo lobortis, nisl enim facilisis urna, sit amet bibendum turpis neque eu libero. Donec facilisis neque
			vel magna dapibus euismod. Praesent imperdiet urna a ultricies pellentesque. Sed interdum ullamcorper elementum. Pellentesque vitae
			ultricies sem. Nunc consequat vulputate lorem congue blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent
			fermentum volutpat turpis quis bibendum. Proin cursus mauris nec arcu ornare, sit amet tristique enim vestibulum. Etiam elit nibh,
			auctor vitae tempus aliquam, vestibulum eget tortor. Curabitur mollis nisl tortor, vel commodo diam aliquam eget. Aenean in
			tincidunt arcu, vitae imperdiet enim. Phasellus ullamcorper aliquam dolor. Donec dictum justo vel ante auctor, sed placerat lorem
			aliquam. Fusce elementum interdum purus, in dictum enim sodales at. Maecenas tincidunt condimentum vulputate.

	</perfect-scrollbar>
</div>
